# Training data and models should not be committed to the repository
runs/
data/
datasets/
models/

# Train and test data should not be committed to the repository
*.jpg
*.jpw
*.prj
*.mp4
*.avi

# Test code
**playground**

# Weights and biases
*.pt
*.pth
*.h5
*.tflite
